# Import del file .nc, trasformazione in dataframe e salvataggio in file pickle

In [1]:
import netCDF4 as nc
import pandas as pd
import pandasql as ps
import xarray as xr

pd.options.display.max_columns = None

path="/Users/paolo/Documents/Droughts/data/VHP.G04.C07.npp.P2020052.SM.nc"

In [10]:
# import dati in un dataframe
ds = xr.open_dataset(path)
df = ds.to_dataframe().reset_index()

# a noi interessano SMN,lat,lon
df = df.drop("SMT",axis=1)

dLon= dLat = (360.0/10000) 
Latitude = (75.024 - (df['ny']+0.5) *dLat)
Longitude = (-180.0 + (df['nx']+0.5)* dLon) 
df = df.assign(latitude=Latitude.values)
df = df.assign(longitude=Longitude.values)
df = df.drop(["nx","ny"],axis=1)

df.head()

   SMN  latitude  longitude
0  NaN    75.006   -179.982
1  NaN    74.970   -179.982
2  NaN    74.934   -179.982
3  NaN    74.898   -179.982
4  NaN    74.862   -179.982

In [11]:
df.count()

SMN          11386119
latitude     36160000
longitude    36160000
dtype: int64

In [13]:
df.to_pickle("/Users/paolo/Documents/Droughts/data/NDVI_2020052.pkl")