In [26]:
import sys
import pandas as pd
import numpy as np
sys.path.append('/Users/paolo/Documents/Droughts')

In [4]:
from mixedRVMI import MIEstimate

In [24]:
current_df = pd.read_csv("/Users/paolo/Documents/projects/Projects/Piogge/dati/tso_lon/CsvWithLon_0_Lat_-4.csv")
current_df.head()

   latitude  longitude   time_bnds        tso
0      -4.0        0.0  2020-06-01  299.55310
1      -4.0        0.0  2020-06-02  299.38846
2      -4.0        0.0  2020-06-03  299.19370
3      -4.0        0.0  2020-06-04  299.32877
4      -4.0        0.0  2020-06-05  299.17140

In [27]:
target_df['time'] = pd.to_datetime(target_df['time'],format="%Y-%m-%d")
new_col = current_df.apply(lambda x: current_df.loc[(current_df['time_bnds']<=x.time_bnds) & (current_df['time_bnds']>x.time_bnds+np.timedelta64(-31,'D')),"tso"].mean(), axis=1)
current_df['mean_31_0'] = new_col
current_df.head()

TypeError: can only concatenate str (not "numpy.timedelta64") to str

In [10]:
t = pd.read_csv("/Users/paolo/Documents/projects/Projects/Piogge/dati/dailyPrcp.csv")
t.head()

         time       prcp
0  1983-03-01  16.633854
1  1983-03-02  12.048303
2  1983-03-03  12.094771
3  1983-03-04  11.286327
4  1983-03-05  14.942453

In [33]:
MIEstimate(f['tso'].to_numpy(),t['prcp'].to_numpy(),estimate='digamma',k=3)

0.016061717268246744

6120