In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import calendar
import geopandas as gpd

%load_ext autoreload
%autoreload 2

/opt/anaconda3/lib/python3.9/site-packages/pandas/core/computation/expressions.py:21: UserWarning: Pandas requires version '2.8.0' or newer of 'numexpr' (version '2.7.3' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED
/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arrays/masked.py:62: UserWarning: Pandas requires version '1.3.4' or newer of 'bottleneck' (version '1.3.2' currently installed).
  from pandas.core import (

In [3]:
file = "../data/shapefiles/FAPAN_2018_01/fapan_2018_01.shp"    

# open file
shp_2018_gen = gpd.read_file(file)

In [6]:
df = pd.read_csv("../data/matrix_FAPAN.csv", sep=' ')

In [17]:
df['SUBID'] = df.index
df_2018_gen = df[['SUBID', '301']]
df_2018_gen = df_2018_gen.reset_index(drop=True)
#df_2018_gen = df_2018_gen.dropna()

In [19]:
merged_df = df_2018_gen.merge(shp_2018_gen[['SUBID', '_mean']], on='SUBID', how='left')

In [21]:
tolerance = 1e-6  # Adjust this based on your precision requirements

# Get rows where values in the specified columns are different
different_values_rows = merged_df[np.abs(merged_df['301'] - merged_df['_mean']) > tolerance]

In [22]:
different_values_rows

         SUBID       301     _mean
16015  9730565  0.792133 -0.656381
16016  9000783 -0.656381 -0.636417
16017  9000256 -0.636417  0.792133
18385  9600329  1.123500  0.637692
18386  9616388  0.694926  1.123500
...        ...       ...       ...
30171  9001185  0.576887  0.147780
30174  9604332  1.989165  0.125000
30175  9618196  0.125000  1.421250
30176  9600407  1.421250  1.297810
30177  9617695  1.297810  0.534333

[1597 rows x 3 columns]

In [23]:
inline_df = df_2018_gen.copy()
inline_df['_mean'] = shp_2018_gen['_mean']

In [24]:
different_values_rows = inline_df[np.abs(inline_df['301'] - inline_df['_mean']) > tolerance]

In [25]:
different_values_rows

Empty DataFrame
Columns: [SUBID, 301, _mean]
Index: []